<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/882b949f-653d-4a83-a0e2-95ba27013b21/resourcegroups/CoreWithDocker20200419110646ResourceGroup/providers/Microsoft.Web/sites/CoreWithDocker20200419110646</ResourceId>
    <ResourceGroup>CoreWithDocker20200419110646ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://corewithdocker20200419110646.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ContainerResourceId>/subscriptions/882b949f-653d-4a83-a0e2-95ba27013b21/resourcegroups/CoreWithDocker20200419110646ResourceGroup/providers/Microsoft.ContainerRegistry/registries/registry20200419111135</ContainerResourceId>
    <ContainerResourceName>registry20200419111135</ContainerResourceName>
    <Subscription>Free Trial</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20200419111135.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7312b1c7-396a-44b4-a302-d5ff30289fbd</ProjectGuid>
  </PropertyGroup>
</Project>